window#waybar {
  background: black;
  border-bottom: 1px solid #89b4fa;
}

/* Иконки окон в рабочем пространстве */
#custom-active-windows {
  font-family: "Iosevka NFP";   /* Шрифт иконок */
  font-size: 30px;              /* Размер иконок */
  color: #00FFFF;               /* Цвет неактивных окон */
}


#battery,
#network,
#language {
    font-family: "Iosevka NF Light";
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

tooltip * {
    background-color: #3b4252;
    font-size: 40px;
}




