* { all: unset; }

/* Общее для всех */
window#waybar {
    font-family: "Iosevka NF Light";
    font-size: 30px;
    color: #E9E9E9;
}

/* Верхний бар */
window#waybar.top {
    background: rgba(32, 32, 32, 0.99);
    border: 2px solid #575757;
    border-top: none;
    border-radius: 0 0 35px 35px;  /* верх-лево | верх-право | низ-право | низ-лево */
}

/* Правый бар */
window#waybar.right {
    background: rgba(82, 32, 32, 0.99);
    border: 2px solid #575757;
    border-right: none;
    border-radius: 35px 0 0 35px;
}

/* Модули верхнего бара */
window#waybar.top .modules-left {
    padding-left: 20px;
}

window#waybar.top .modules-right {
    padding-right: 20px;
}

/* Общее для тултипов */
tooltip {
    all: unset;
    font-family: "Iosevka NF Light";
    font-size: 30px;
    background-color: rgb(44, 44, 44);
    border: 2px solid #575757;
}

/* Иконки окон в рабочем пространстве */
#custom-active-windows {
  color: #00FFFF;               /* Цвет неактивных окон */
}

/* Цвета состояний */
#cpu.medium,
#battery.medium,
#network.disconnected,
#memory.medium { color: yellow; }

#cpu.high,
#memory.high { color: blue; }

#cpu.critical,
#battery.critical,
#temperature.critical,
#network.disabled,
#memory.critical { color: #ff3b2f; }
