* {
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}

window#waybar {
  background: #1e1e2e;
  border-bottom: 2px solid #89b4fa;
  height: 40px;
}

#custom-left,
#custom-center,
#custom-right {
  padding: 0 20px;
}
